:root{
    --animation-transition: 0.5s;
}

.first-section {
    display: flex;
    justify-content: center;
    padding: 54px 0 20px 0;
    background: var(--Secondary-bg);
}

.first-section-content {
    display: grid;
    grid-template-columns: 185px 1fr;
    width: 100%;
    gap: 175px;
    max-width: 1145px;
    height: 129px;
}

.first-section-content > div {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 100%;
    max-width: 1145px;
}

.first-section-content .title {
    font-size: 35px;
    line-height: 110%;
    letter-spacing: -0.408px;
}

.first-section-content .text {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.408px;
}

.first-section-content .rating, .first-section-content .rating span {
    font-size: 18px;
    line-height: 29px;
    font-weight: 700;
}

.first-section-content .rating span {
    color: var(--Main-orange)
}

.first-section-content .rating {
    padding: 0 10px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.first-section-content .logo {
    transform: translateY(-26px);
    background: url("/hooked.io/assets/images/H&M-logo.png") no-repeat;
    box-shadow: lightgray 0 0 10px 2px;
    height: 187px;
    border-radius: 200px;
    background-size: cover;
    margin-left: 10px;
}

.second-section {
    display: flex;
    justify-content: center;
    padding: 54px 16px;
}

.second-section-content {
    max-width: 1145px;
    display: grid;
    grid-template-columns: 1fr 3.28fr;
    gap: 60px;
    width: 100%;
}

.second-section-content .shop-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.second-section-content .left{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.second-section-content .left p,
.second-section-content .left span,
.second-section-content .left a{
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.59px;
    font-weight: 400;
    color: var(--Main-Dark);
}

.second-section-content .left .bold {
    font-weight: 700;
}

.second-section-content .left .underline {
    text-decoration: underline;
}

.second-section-content .left .not-underline a {
    text-decoration: none;
    display: block;
}

.second-section-content .left .submit {
    display: flex;
    gap: 10px;
    align-items: center;
}

.second-section-content .left div .title {
    margin-bottom: 14px;
}

.second-section-content .left div .more-about {
    padding-bottom: 10px;
}

.second-section-content .right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.discount-item {
    padding: 12px 20px;
    border-width: 3px;
    border-color: transparent;
    border-style: solid;
    border-radius: 20px;
    transition: border-color var(--animation-transition);
}

.discount-item:hover .off-wrapper {
    background-image: url("/hooked.io/assets/icons/discount-background-2.svg");
}

.discount-item:hover .off-wrapper > div > p {
    color: var(--Main-bg);
}

.discount-item:hover .get-coupon .button {
    background-color: var(--Main-orange);
    color: var(--Main-bg);
}

.discount-item:hover {
    border-color: var(--Main-orange)
}

.discount-item .content {
    display: grid;
    grid-template-columns: 1fr 3fr 2.2fr;
    gap: 21px;
    width: 100%;
    height: 109px;
}

.get-coupon .button {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: color var(--animation-transition);
}

.get-coupon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.online-cashback {
    padding: 6px 10px;
    background: var(--cahcback-gradient);
    border-radius: 80px;
    font-size: 12px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0.59px;
    display: inline-block;
}

.discount-item .content .details {
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: flex-start;
    justify-content: center;
}

.discount-item .content .details .discount {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.408px;
}

.discount-item .content .details .description {
    font-size: 15px;
    font-weight: 400;
    line-height: 110%;
}

.off-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/hooked.io/assets/icons/discount-background-1.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: background-image var(--animation-transition);
}

.off-wrapper > div > p:first-child {
    text-align: center;
    color: var(--Main-Dark, #1A1B27);
    font-size: 28px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.408px;
}

.off-wrapper > div > p:last-child {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.408px;
}

.discount-item .additional-info {
    border-top: 3px solid #ECEADD;
    padding: 6px;
}

.discount-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.10);
}

.additional-info {
    display: flex;
    align-items: flex-start;
    gap: 45px;
}

.discount-item .additional-info > p:first-child {
    font-size: 12px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.408px;
}

.discount-item .additional-info > p:last-child {
    font-size: 12px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.408px;
}

.right > .description {
    width: 100%;
    max-width: 570px;
    padding: 30px 0;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.discount-item .discount-details .title {
    border-bottom: 3px solid var(--Main-orange);
    margin: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.408px;
    display: inline-block;
}

.discount-item .discount-details .text {
    font-size: 12px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.408px;
    padding: 10px;
}

.discount-item .discount-details .text .bold {
    font-weight: 700;
    margin-bottom: 13px;
}

.discount-item .discount-details {
    display: none;
    transition: opacity 0.5s;
    opacity: 0;
}

.open-details {
    cursor: pointer;
}

@media (max-width: 990px) {
    .first-section {
        padding: 20px 25px;
    }

    .first-section-content {
        gap: 25px;
        grid-template-columns: auto 1fr;
        height: auto;
        max-width: 340px;
    }

    .first-section-content .logo {
        height: 67px;
        width: 67px;
        transform: none;
        margin-left: 0;
    }

    .first-section-content .title {
        font-size: 20px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: -0.408px;
        max-width: 230px;
    }

    .first-section-content > div {
        gap: 6px;
        justify-content: center;
    }

    .first-section-content .text {
        font-size: 12px;
        font-weight: 400;
        line-height: 130%;
        max-width: 150px;
    }

    .second-section {
        padding: 10px;
    }

    .second-section-content {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .second-section-content .left {
        grid-row: 2;
        padding: 40px 26px;
        max-width: 68%;
    }

    .discount-item .content {
        display: flex;
        gap: 17px;
    }

    .off-wrapper {
        width: 70px;
    }

    .off-wrapper > div > p:first-child {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: -0.24px;
    }

    .off-wrapper > div > p:last-child {
        font-size: 11px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: -0.24px;
    }

    .online-cashback {
        font-size: 12px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 0.59px;
    }

    .discount-item .content {
        height: auto;
    }

    .discount-item .content .details .discount {
        font-size: 20px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: -0.408px;
    }

    .discount-details {
        padding: 0 14px;
    }

    .discount-item .discount-details .title {
        margin: 0 10px;
    }

    .discount-item .discount-details .text {
        padding: 6px 10px;
    }

    .right > .description {
        display: none;
    }

    .second-section-content .rating, .second-section-content .rating span {
        font-size: 12px;
        line-height: 29px;
        font-weight: 700;
    }

    .second-section-content .rating span {
        color: var(--Main-orange);
    }
    .second-section-content .rating {
        display: flex;
        align-items: center;
        gap: 8px;
        height: 23px;
        margin-bottom: 14px;
    }

    .second-section-content .rating img {
        height: 18px;
        width: 18px;
    }

    .second-section {
        display: block;
    }

    .description-wrapper .description {
        font-size: 12px;
        font-weight: 400;
        line-height: 150%;
        border-top: 3px solid #ECEADD;
        padding-top: 20px;

    }

    .description-wrapper {
        margin: 0 26px 30px 26px;
    }

}


