.footer {
    display: flex;
    justify-content: center;
    background-color: var(--Main-Dark);
    padding: 50px 90px;
}

.footer-content {
    width: 100%;
    max-width: 1225px;
    display: flex;
    justify-content: space-between;
}

.navigation-list .title, .navigation-list .link {
    color: white
}

.navigation-list .title {
    font-size: 16px;
    font-weight: 700;
}

.navigation {
    display: grid;
    max-width: 480px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.navigation-list .link {
    display: block;
    text-decoration: none;
    font-size: 14px;
}

.navigation-list .link:not(:last-child), .navigation-list .title {
    margin-bottom: 16px;
}

.footer-content img {
    height: 36px;
}

.third-section {
    transform: translateY(1px);
}

@media (max-width: 990px) {
    .footer {
       padding: 40px 114px;
    }

    .footer-content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .footer-content img {
        height: 26px;
    }

    .navigation {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .navigation-list .title, .navigation-list .link {
        text-align: center;
    }

    .navigation-list .link:not(:last-child), .navigation-list .title {
        margin-bottom: 24px;
    }

    .navigation .navigation-list:nth-child(2) {
        grid-row: 3;
    }
}
