body {
    width: 100vw;
    overflow-x: hidden;
}
.first-section {
    display: flex;
    justify-content: center;
    padding: 144px 0;
    background: var(--Secondary-bg);
}

.first-section-content {
    width: 100%;
    max-width: 768px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 80px;
    flex-direction: column;
}

.first-section-content > .first-part {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 664px;
    gap: 20px;
}

.first-section-title {
    font-size: 55px;
    letter-spacing: -0.408px;
    line-height: 110%;
    text-align: center;
}

.first-section-text {
    text-align: center;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: -0.408px;
}

.second-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.saved-block {
    position: absolute;
    background-color: var(--Main-bg);
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    padding: 16px 23px;
    box-sizing: border-box;
    width: 167px;
}

.saved-block.first {
    transform: translate(calc(50vw - 588px), 0);
}

.saved-block.second {
    transform: translate(calc(50vw - 370px), 116px);
}

.saved-block.third {
    width: 199px;
    transform: translate(calc(50vw - 550px), 199px);
}

.saved-block.fourth {
    transform: translate(calc(50vw + 346px), 3px);
}

.saved-block.fifth {
    transform: translate(calc(50vw + 192px), 99px);
}

.saved-block.sixth {
    transform: translate(calc(50vw + 408px), 167px);
}

.saved-block .title {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: -0.408px;
    line-height: 110%;
    margin-bottom: 4px;
}

.saved-block .text {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: -0.408px;
    line-height: 110%;
}

.saved-block img {
    margin-bottom: 4px;
}

.second-section .title {
    font-size: 55px;
    line-height: 110%;
    letter-spacing: -0.408px;
    text-align: center;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 50px;
}

.second-section-content {
    width: 100%;
    max-width: 1340px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
}

.second-section-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    width: 100%;
}

.second-section-item > .content {
    padding: 78px 0;
}

.second-section-item > .content > .title {
    max-width: 388px;
    font-size: 35px;
    letter-spacing: -0.408px;
    line-height: 110%;
    text-align: left;
    margin-bottom: 20px;
}

.second-section-item > .content > .text {
    max-width: 339px;
    font-size: 18px;
    line-height: 150%;
}

.second-section-item > .image-wrapper > img {
    max-width: 200px;
}

.second-section-item > .image-wrapper {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 92%;
}

.second-section-item:nth-child(2n + 1) > .content {
    grid-column: 2;
    grid-row: 1;
    padding-left: 80px;
}

.second-section-item:nth-child(2n+1) > .image-wrapper {
    background-image: url("/hooked.io/assets/icons/background-2.svg");
    grid-column: 1;
}

.second-section-item:nth-child(2n) > .image-wrapper {
    background-image: url("/hooked.io/assets/icons/background-1.svg");
}

.third-section {
    background-color: var(--Main-Dark);
}

.third-section-content-wrapper .title {
    font-size: 55px;
    color: white;
    line-height: 110%;
    letter-spacing: -0.408px;
    max-width: 886px;
    text-align: center;
    margin-bottom: 40px;
}

.third-section-content-wrapper {
    background: url("/hooked.io/assets/icons/background-3.svg") no-repeat center bottom;
    display: flex;
    align-items: center;
    padding: 60px 0;
    flex-direction: column;
}

.saved-wrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

@media (max-width: 990px) {
    .first-section {
        padding: 60px 10px;
    }

    .first-section-content {
        padding: 0;
    }

    .first-section-title {
        font-size: 28px;
        letter-spacing: -0.199px;
        max-width: 324px;
    }

    .first-section-text {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.199px;
        max-width: 324px;
    }

    .saved-wrapper {
        position: static;
        height: 325px;
    }

    .saved-block {
        width: 137px;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .saved-block.second {
        transform: translate(calc(50vw - 100px), 1px);
        width: 140px;
    }

    .saved-block.third {
        width: 199px;
        transform: translate(calc(50vw + 1px), 170px);
    }

    .saved-block.fourth {
        transform: translate(calc(50vw + 28px), 58px);
    }

    .saved-block.fifth {
        transform: translate(calc(50vw - 166px), 112px);
    }

    .saved-block.sixth {
        transform: translate(calc(50vw - 122px), 223px);
    }

    .first-section-content {
        gap: 20px;
    }

    .saved-block.second > img {
        height: 14px;
        width: 48px;
    }

    .saved-block .title {
        font-size: 15px;
        letter-spacing: -0.408px;
    }

    .saved-block .text {
        font-size: 9px;
        letter-spacing: -0.408px;
    }

    .saved-block.fourth > .text, .saved-block.fourth > .title {
        letter-spacing: -0.335px;
    }

    .saved-block.fourth > img {
        height: 22px;
        width: 22px;
    }

    .saved-block .title, .saved-block > img {
        margin-bottom: 0;
    }

    .saved-block.fifth > img {
        height: 17px;
        width: 44px;
    }

    .saved-block.fifth, .saved-block.fourth, .saved-block.third, .saved-block.sixth {
        padding: 13px 19px;
    }

    .saved-block.third > img {
        height: 18px;
        width: 50px;
    }

    .saved-block.third {
        width: 163px;
    }

    .saved-block.sixth > img {
        height: 27px;
        width: 22px;
    }

    .second-section .title {
        font-size: 28px;
        letter-spacing: -0.199px;
        max-width: 324px;
    }

    .second-section {
        padding: 60px 10px;
    }

    .second-section-item {
        gap: 20px;
        grid-template-columns: 1fr;
        padding-bottom: 10px;
    }

    .second-section-item:nth-child(2n + 1) > .content {
        grid-column: 1;
        padding-left: 0;
    }

    .second-section-content {
        gap: 40px;
    }

    .second-section-item .content {
        padding: 0;
    }

    .second-section-item .content .title, .second-section-item .content .text {
        text-align: center;
        letter-spacing: -0.408px;
    }

    .second-section-item > .content > .title {
        margin-bottom: 10px;
        font-size: 28px;
    }

    .second-section-item > .content > .text {
        font-size: 16px;
    }

    .second-section-item > .image-wrapper > img {
        max-width: 164px;
    }

    .third-section-content-wrapper .title {
        font-size: 28px;
        max-width: 324px;
        letter-spacing: -0.199px;
        margin-bottom: 30px;
    }

    .third-section-content-wrapper {
        background-size: 150%;
    }
}

